   h1{
                color:white;
                background:Black;
            }
            #first
            {
                color:white;
                background:darkslategrey ;
            
            }
            h3{
                color:white;
                background:darkslategrey;
            }
            #box
            {
                background:white;
                width:500px;
                margin: 100px auto;
                padding:50px
            }
