   h1{
                color:white;
                background:Black;
            }
            #first
            {
                color:aquamarine;
                background: ;
            
            }
            h3{
                color:white;
                background:darkslategrey;
            }
